<phpunit>
    <testsuites>
        <testsuite name="unit">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/phpunit/clover.xml"/>
            <cobertura outputFile="build/phpunit/cobertura.xml"/>
            <crap4j outputFile="build/phpunit/crap4j.xml" threshold="50"/>
            <html outputDirectory="build/phpunit/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="build/phpunit/coverage.php"/>
            <text outputFile="build/phpunit/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="build/phpunit/xml-coverage"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/phpunit/junit.xml"/>
        <teamcity outputFile="build/phpunit/teamcity.txt"/>
        <testdoxHtml outputFile="build/phpunit/testdox.html"/>
        <testdoxText outputFile="build/phpunit/testdox.txt"/>
        <testdoxXml outputFile="build/phpunit/testdox.xml"/>
        <text outputFile="build/phpunit/logfile.txt"/>
    </logging>
</phpunit>
